{% load static %}
{% load i18n %}


<section class="bg-gray-900 pb-16 pt-24 ">
    <div class="container mx-auto px-4 ">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center min-h-[400px]">
            <div>
                <div class="p-8 md:p-10 h-full">
                    <h1 class="text-3xl md:text-4xl font-extrabold text-white mb-4">{% trans "ჩვენი ვაკანსიები დაგეხმარება!" %}</h1>
                    <p class="text-xl text-blue-100 mb-6">{% trans "საუკეთესო სამსახურის მოძიებაში ჯობსის ვაკანსიები დაგეხმარება" %}</p>
                    <a href="{% url 'job_list' %}?show_filters=1#filters" 
                       class="inline-block bg-amber-400 hover:bg-amber-500 text-blue-900 font-semibold px-8 py-3 rounded-xl text-lg transition-colors">
                        {% trans "ყველა ვაკანსია" %}
                    </a>
                </div>
            </div>
            <div class="hidden lg:flex justify-end items-end relative min-h-[400px] z-0">
                <img src="{% static 'images/hero_woman.png' %}" 
                     alt="Hero" 
                     class="absolute bottom-[-64px] right-0 h-auto max-h-[500px] object-contain z-10">
            </div>
        </div>
    </div>
</section> 