<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% load static %}
{% load i18n %}

{% include 'core/components/base/head.html' %}

<body>
    {% include 'core/components/base/navbar.html' %}
    
    {% block hero_section %}{% endblock %}
    
    <div class="main-bg">
        <div class="main-container">
            {% include 'core/components/base/alerts.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
    
    {% block bottom_section %}{% endblock %}
    
    {% include 'core/components/base/scripts.html' %}
    {% block extra_js %}{% endblock %}
</body>
</html> 