{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Jobsy - აპლიკაციების მენეჯმენტი" %}{% endblock %}

{% block extra_head %}
{% include 'core/components/employer_applications/styles.html' %}
{% endblock %}

{% block content %}
<div class="container my-5">
    {% include 'core/components/employer_applications/header.html' %}
    
    {% include 'core/components/employer_applications/status_tabs.html' %}
    
    {% include 'core/components/employer_applications/status_explanations.html' %}
    
    {% include 'core/components/employer_applications/search_filter.html' %}
    
    {% include 'core/components/employer_applications/applications_table.html' %}
</div>
{% endblock %}

{% block extra_js %}
{% include 'core/components/employer_applications/app_scripts.html' %}
{% endblock %} 