{% extends 'core/base.html' %}
{% load i18n %} 

{% block title %}Linked AI - Employer Dashboard{% endblock %}

{% block extra_head %}
{% include 'core/components/employer_dashboard/dashboard_styles.html' %}
{% endblock %}

{% block content %}
<div class="row">
    {% include 'core/components/employer_dashboard/company_profile_card.html' %}
    {% include 'core/components/employer_dashboard/job_listings.html' %}
</div>

{% include 'core/components/employer_dashboard/new_job_modal.html' %}
{% endblock %}

{% block extra_js %}
{% include 'core/components/employer_dashboard/dashboard_scripts.html' %}
{% endblock %} 