{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ job.title }} - {% trans "Jobsy" %}{% endblock %}

{% block extra_head %}
{% include 'core/components/job_detail/job_detail_styles.html' %}
{% endblock %}

{% block content %}
{% include 'core/components/job_detail/header_section.html' %}

<div class="container">
    <div class="row">
        <!-- Main content area -->
        <div class="col-lg-8 pe-lg-4">
            {% include 'core/components/job_detail/job_content.html' %}
        </div>

        <!-- Sidebar -->
        <div class="col-lg-4">
            {% include 'core/components/job_detail/company_info.html' %}
            {% include 'core/components/job_detail/similar_jobs.html' %}
        </div>
    </div>
</div>

{% include 'core/components/job_detail/apply_modal.html' %}
{% endblock %}

{% block extra_js %}
{% include 'core/components/job_detail/job_detail_js.html' %}
{% endblock %}